@font-face {
    font-family: 'copasetic';
    src: url('https://github.com/katsanosx/fonts/blob/master/copasetic/COPASETI.TTF?raw=true') format('truetype');
    font-weight: 100;
    font-style: normal;
} 