@font-face {
    font-family: 'copasetic';
    src: url('https://raw.githubusercontent.com/katsanosx/myfonts/master/copasetic/COPASETI.TTF') format('truetype');
    font-weight: 100;
    font-style: normal;
} 